target/

*.iml
*.ipr
*.iws


.idea/
*.iml
out/
*.ipr
*.iws

/.idea_modules/
/.idea/libraries/
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/*.iml


.classpath
.project
.settings/
bin/


.vscode/
*.code-workspace


.DS_Store
.AppleDouble
.LSOverride

Icon?


Thumbs.db
ehthumbs.db
Desktop.ini


*~


*.log
logs/

*.tmp
temp/


*.class
*.jar

*~
*.bak

.cache/